<header class="main-header">
  <nav [class.nav--open]="isMenuOpen">
    <div class="left-header part-header">
      <a routerLink="/" class="logo-container d" (click)="closeMenu()">
        <img src="../../../assets/images/Fanscore Logo.png" alt="Fanscore">
        <span>Fanscore</span>
      </a>

      <div class="activities d">
        <a routerLink="/merch" class="merch btn-style" (click)="closeMenu()">
          Merch
        </a>

        <a routerLink="/halisaha" class="tournements btn-style" (click)="closeMenu()">
          Halı Saha Ayarla
        </a>
      </div>
    </div>

    <button
      type="button"
      class="menu-toggle"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Menüyü aç"
      (click)="toggleMenu()"
    >
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="right-header part-header d">
      <a routerLink="/teams" class="teams-btn btn-style" (click)="closeMenu()">
        <i class="fa-solid fa-shirt"></i>
        <span>Tüm Takımlar</span>
      </a>

      <a routerLink="/last-matches" class="l-m-btn btn-style" (click)="closeMenu()">
        <i class="fa-solid fa-futbol"></i>
        <span>Son Maçlar</span>
      </a>

      <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login" class="login-btn btn-style" (click)="closeMenu()">
        <i class="fa-solid fa-user"></i>
        <span>Giriş Yap</span>
      </a>

      <a *ngIf="isLoggedIn$ | async" routerLink="/profile" class="login-btn btn-style" (click)="closeMenu()">
        <i class="fa-solid fa-user"></i>
        <span>Profil</span>
      </a>

      <a *ngIf="isAdminToken()" routerLink="/admin-panel" class="login-btn btn-style" (click)="closeMenu()">
        <i class="fa-solid fa-shield-halved"></i>
        <span>Admin</span>
      </a>

      <a
        *ngIf="isLoggedIn$ | async"
        routerLink="/login"
        class="login-btn login-btn--danger btn-style"
        (click)="onLogout()"
      >
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Çıkış Yap</span>
      </a>
    </div>
  </nav>
</header>
